.card
  position relative
  display flex
  overflow: hidden
  margin-bottom  10px
  padding 15px
  background: #fff
  box-shadow: 0 1px 0 0 #ced7dc
  a.PostListItem-titleImageWrapper
    padding-right: 16px
    flex: 1
    width 100px
    height 100px
    img.PostListItem-titleImage
      width: 100%
      height 100%
  .PostListItem-info
    flex: 2
    p.time
      color: #7C858A
      font-size: 14px
      line-height 22px
    p.title
      display: inline-block
      line-height: 24px
      font-size: 18px
      color: #222527
      min-height: 60px
    .PostListItem-footer
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 14px;
      color: gray;

