.lazy-avatar
  text-align center
  margin: 26px auto 8px
  width: 48px
  height: 48px
  box-sizing: border-box
  border-radius: 50%
  overflow: hidden
  img
    width 48px
    height 48px
    border-radius: 50%
    border: 0
.lazy-title
  font-weight: 700
  text-align center
  color: #333
  margin: 16px 16px 7px
  font-size: 16px
.lazy-description
  text-align center
  font-size: 14px
  line-height: 21px
  height: 42px
  margin-bottom: 14px
  word-break: break-all
  color: gray
  overflow: hidden;
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  padding 0 40px
.lazy-other
  text-align center
  font-size: 14px
  margin-bottom: 15px
  color: gray
