.column-card
  position relative
  display flex
  overflow: hidden
  margin-bottom  10px
  padding 15px
  background: #fff
  box-shadow: 0 1px 0 0 #ced7dc
  img.article-images
    padding-right: 16px
    flex: 1
    width 100px
    height 100px
  .article-info
    flex: 2
    .time
      color: #7C858A
      font-size: 14px
      line-height 22px
    .title
      display: inline-block
      line-height: 24px
      font-size: 14px
      color: #222527
      min-height: 60px
    .article-hot
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 14px;
      color: gray;

