.header
  position fixed
  top 0
  right 0
  left 0
  z-index 10
  width 100%
  min-height 50px
  font-size 16px
  font-weight 400
  line-height 50px
  background-color #3385ff
  color #fff
  text-align center
  display table
  box-shadow 0 1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1)
  .title
    position: absolute
    text-align center
    white-space nowrap
    width 80%
    overflow hidden
    text-overflow ellipsis
    font-weight 500
    margin: 0 auto
    left: 0
    right: 0
  .pull-left
    padding 0 10px
    float left !important
  .pull-right
    padding 0 10px
    float right !important

